@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: #302f33;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#container {
  background-color: white;
  max-width: 35vw;
  border-radius: 20px;
  padding: 30px;
}

@media (max-width: 1280px) {
  #container {
    max-width: 90vw;
  }
}

#logo {
  background-image: url(assets/icon.png);
  width: 50%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#headerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

header {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 800px) {
  header {
    font-size: 2.5rem;
  }
}

input[type="number"] {
  width: 100%;
  background-color: transparent;
  flex: 1;
  outline: 1px solid #ccc;
  font-size: 1.2rem;
  min-width: 0;
  padding: 8px 10px;
  margin-top: 25px;
  border-radius: 5px;
  border: none;
}

input[type="number"]:focus {
  outline: 2px solid #2684ff;
}

#display {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 25px;
  font-weight: 500;
}

#selectionDiv {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.select {
  width: 100%;
  background-color: transparent;
  flex: 1;
  font-size: 1.2rem;
  -webkit-appearance: media-play-button;
  -moz-appearance: media-play-button;
  appearance: none;
  outline: none;
  transition: all linear 0.5s;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.5s ease;
  border-radius: 0px;
}

#swap-icon {
  width: 45px;
  height: 45px;
  margin: -10px 0;
  cursor: pointer;
  z-index: 10;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
  border-radius: 50%;
}

#fetch-msg {
  color: #e96e09;
}

#rate-output,
#rate-output > * {
  color: rgb(6, 165, 19);
  overflow-wrap: break-word;
  user-select: all;
}

#output-right {
  word-break: keep-all;
}
